<div class="container-fluid p-5">
  <!-- Logo centré -->
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <img src="chemin_vers_votre_logo" alt="Votre logo">
    </div>
  </div>

  <!-- Titre et description -->
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h2>Titre du questionnaire</h2>
      <p>Description du questionnaire</p>
    </div>
  </div>

  <!-- MatStepper -->
  <div class="row justify-content-center">
    <div class="col-md-8">
      <mat-horizontal-stepper [linear]="true" [selectedIndex]="currentStep">
        <!-- Étapes -->

        <mat-step *ngFor="let step of [0, 1, 2, 3]">
          <!-- Contenu de l'étape -->
          

        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>

  <!-- Boutons Suivant et Précédent -->
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <div class="button-container">
        <button mat-button class="btn btn-secondary m-1" (click)="previousStep()" [disabled]="currentStep === 0">Précédent</button>
        <button mat-button class="btn btn-primary m-1" (click)="nextStep()" [disabled]="currentStep === 3 || isLastStep()">Suivant</button>
        <button mat-button class="btn btn-success m-1" (click)="submit()" *ngIf="isLastStep()">Soumettre</button>
      </div>
    </div>
  </div>
</div>
